@media screen and (max-width: 1200px) {
.container {
width: 970px;
}

.info-and-form {
	display: flex;
	flex-direction: column;
	height: auto;
}

.info {
	position: static;
	width: 100%;
}

.info > .container {
	width: 100%;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	margin: 0;
}

aside {
	width: 100%;
	position: static;
}

aside form {
	position: static;
	align-items: center;
}

.about-item-grid {
	grid-template-rows: 300px;
}


}

@media screen and (max-width: 991px) {
.container {
width: 750px;
}

body {
	font-size: 16px;
}

.work-item {
	height: auto;
}

.work-item img {
	height: 100%;
	width: 100%;
}

.clients-flex {
	flex-wrap: wrap;
	justify-content: center;
}

.clients-flex img {
	padding: 5%;
}

.about-item-grid {
	grid-template-rows: 230px;
}


}

@media screen and (max-width: 767px) {
.container {
width: 450px;
}

nav.work-nav a {
	font-size: 1em;
	text-align: center;
	margin-right: 15px;
	margin-bottom: 20px;
}
nav.work-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.intro-text {
	margin-bottom: 30%;
}

section.introduction p:first-of-type,
section.about p.about-p,
section.feature p:first-of-type,
section.contact p:first-of-type {
	width: 90%;
}

a.big-btn {
	font-size: 20px !important;
	height: 80px;
	padding: 25px 80px;
}

.work-item {
	width: 45%;
}

.work-overlay h3 {
	font-size: 1em;
	margin-top: 0;
	}
.work-overlay a {
	font-size: 1em;
}

.about-item-grid {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 270px 270px;
}

.clients {
	padding-bottom: 80px;
}

div.about-item {
	margin-right: 7%;
	margin-bottom: 5%;
}

aside form input {
	width: 400px;
	margin-right: 0 !important;
	display: block;
}

aside form textarea {
	width: 400px;
}

aside form input[type="submit"] {
	align-self: center;
	margin-right: 0;
}

footer img {
    width: 300px;
}

footer {
	height: 250px;
}

}

@media screen and (max-width: 481px) {
.container {
width: 310px;
}

body {
	font-size: 16px;
	letter-spacing: 0;
}

section {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
}

section.introduction p:first-of-type,
section.about p.about-p,
section.feature p:first-of-type,
section.contact p:first-of-type {
	line-height: 25px;
}

section.creativity,
section.help,
section.quote {
	height: 300px;
}

.intro-text h1 {
	font-size: 25px;
	line-height: 2rem;
}

.intro-text p {
	font-size: 18px;
}

.main-nav {
	width: 50%;
}

.intro-text {
	margin-bottom: 40%;
	width: 80%;
}

a.work-btn {
	width: 200px;
	padding: 15px 30px;

}

nav.work-nav a {
	font-size: 16px;
}

nav.work-nav {
	margin-bottom: 20px;
}



.about-item-grid {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 0 auto;

}

div.about-item {
	margin-right: 0;
?}

div.about-item img {
	margin-right: 0;

}

div.about-item.hiring {
	padding-top: 120px;
	padding-bottom: 120px;
}

footer img {
    width: 250px;
    margin-bottom: 15px;
}

footer {
	height: 200px;
}

a.big-btn {
	padding: 15px;
	width: 250px;
	height: 60px;
}

h2::after {
	margin-bottom: 30px !important;
	margin-top: 30px !important;
}

aside form input[type="submit"] {
	width: 130px;
	height: 60px;
	font-size: 1.2em;
}

section.contact {
	padding-bottom: 0 !important;
}

aside form input,
aside form textarea{
	width: 300px;
	font-size: 1em;
}

.work-item {
	width: 100%;
}

.work-overlay h3 {
	font-size: 1.5em;
	}

.work-overlay a {
	font-size: 1.2em;
}

.about-item-layout h3 {
	font-size: 1.5em;
}

div.about-item.hiring h3 {
	font-size: 2em;
}

div.about-item.hiring a {
	font-size: 1.5em;
}

h2,
.info > .container h3 {
	font-size: 1.3em !important;
}

.intro-text h1::after {
	margin-bottom: 15%;
	margin-top: 15%;
}

.slider p {
    font-size: 18px;
    line-height: 20px;
}

.feature p.first {
	margin-bottom: 20px;
}

div.slider {
	margin-top: 40px;
}

.contact > .container > p {
margin-bottom: 40px;
}

.info .info-social {
	margin-bottom: 20px;
}

}
